@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(195, 200, 209);
  font-family: Asap, sans-serif;
}
header {
  background: rgb(65, 64, 64);
  padding: 20px;
}

header > h1 {
  color: rgb(195, 200, 209);
  text-align: center;
}

.score-board {
  border: 3px solid black;
  width: 200px;
  margin: 40px auto;
  font-size: 46px;
  border-radius: 4px;
  box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
  text-align: center;
  padding: 15px 20px;
  position: relative;
}

.badge {
  background: #E2584D;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}

#comp-label {
  position: absolute;
  top: 30px;
  right: -30px;
}

.result {
  font-size: 40px;
}

.result > p {
  text-align: center;
  font-weight: bold;
}

.choice > img {
  width: 200px;
  height: auto;
}

.choices {
  text-align: center;
}

.choice {
  display: inline-block;
  margin: 30px 5px;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  border-radius: 50%;
  background: rgb(200, 210, 220);
}

#action-message {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
